body{
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    border-image-width: auto;
    margin-top: auto;
    padding: 0%;
  background-color: rgb(5, 53, 53);
    
  }
  
    /* For desktop: */
    @media only screen and (max-width: 1200px) {
      body {
        background-color: rgb(178, 21, 157);
      }
    }
  /* For tablet: */
  @media only screen and (max-width: 768px) {
    body {
      background-color: rgb(14, 26, 141);
    }
  }
  
  /* For mobile phones: */
  @media only screen and (max-width: 360px) {
    body {
      background-color: lightblue;
    }
  }
  
  h1{
  text-align: center;
  background-color: blueviolet;
  font-size:xx-large ;
  font-weight: 100;
  background: fixed;
  }
  
  #About{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;font-weight: 100;
  }
  
  #dom {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: blue;
  font-size: x-large;
  }
  
  #name {
    font-family: "Dancing Script", cursive;
    font-size: 3rem;
    padding-top:1ch;
  color: blue;
  }
  #navigation ul {
    display:flex;
    gap: 3em;
    padding-bottom:0;
    list-style:none;
   
  }
  #navigation {
    position:fixed;
    top:0;
    scroll-padding-top:1ch;
    background-color: rgb(44, 126, 97);
   
  }
  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(153, 29, 29, 0.074);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 20px;
    text-align: center;
  }
  
    .flex-container {
      display: flex;
      background-color: rgb(100, 73, 79);
   
    width: 10;
  justify-content: center;
  
    }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }
  
  img{
  
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px;
  
  top: 0;
  right: 0;
  
  }
  